:root {
   /* Colores principales */
   --color-navy-blue: #146c94;
   --color-secondary: #D4DCEE;
   --color-beige: #f6f1f1;
   --color-gris: #526D82;
   --color-blanco: #ffffff;
   --color-negro: #000000;
   --color-start: rgba(67, 90, 131, 0.19);
   --color-end: rgba(67, 90, 131, 0);
 
   /* Colores adicionales */
   --color-afd3e2: #afd3e2;
   --color-19a7ce: #19a7ce;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: linear-gradient(to bottom, var(--color-start), var(--color-end));
   width: 100%;
   height: 100%;
}