
:root {
   --color-start: rgba(67, 90, 131, 0.19);
   --color-end: rgba(67, 90, 131, 0);
   --azul-oscuro: #27374D;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   width: 100%;
   min-height: 100vh;
}

main {
   padding-top: 10rem;
}