:root {
   /* Colores principales */
   --color-navy-blue: #146c94;
   --color-beige: #f6f1f1;
   --color-gris: #526D82;
   --color-blanco: #ffffff;
   --color-negro: #000000;
 
   /* Colores adicionales */
   --color-afd3e2: #afd3e2;
   --color-19a7ce: #19a7ce;
}